# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv313/
.env

# Distribuição e empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Relatórios de teste e cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Arquivos de documentação e build
docs/_build/

# Arquivos e pastas de configuração de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos sensíveis
.env

# Diretórios temporários e gerados pelo projeto
chroma_db/
tmp/
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db
