streamlit==1.27.2
langchain-core==0.0.10
langchain-openai==0.0.2
openai>=1.6.1,<2.0.0
langchain-text-splitters==0.0.1
langchain-chroma==0.1.0
python-dotenv==1.0.0
docling
chromadb==0.4.13
pydantic<2.0.0
hnswlib==0.7.0
docling_core[chunking]
langchain-community==0.0.10